{% extends partners_layout %}

{% block content %}
    <h1 class="main_title">Devenir partenaire du RCM</h1>
    <p>
        <a class="btn btn-custom" href="{{ path('rudak_partner_front') }}">
            Les partenaires
        </a>
    </p>
    <hr/>
    <p class="text-center">
        <img class="img-responsive" src="{{ asset('public/img/devenir-partenaire.jpg') }}"
             alt="devenir partenaire"/>
    </p>
    <p class="text-justify lead">
        Devenir partenaire du club, c’est partager l’aventure et les valeurs du RC Montbron. Cela vous
        permet de véhiculer une image positive de votre entreprise, basé sur les valeurs du rugby et
        qui vous représenterons tout au long de l’année en championnat et en tournois.
    </p>
    <p>
        Nos valeurs : <strong>RESPECT, COOPÉRATION, PARTAGE, CONVIVIALITÉ et surtout AMITIÉ</strong>.
    </p>
    <h3 class="violet">
        3 BONNES RAISONS D’ASSOCIER VOTRE ENTREPRISE AU RCM ?
    </h3>
    <ul>
        <li>Divertir vos clients, partenaires et fournisseurs.</li>
        <li>Promouvoir votre entreprise.</li>
        <li>Développer votre image, accroître votre notoriété et votre visibilité.</li>
    </ul>
    <blockquote>
        Le rugby, le 2ème sport le plus médiatisé en France. En 2013, on assiste a une hausse de 12 % de licenciés en
        France avec plus de 570 000 licences.
    </blockquote>

    <p class="text-justify">
        Les valeurs sportives sont un <strong>vecteur de communication unique</strong>, aussi bien auprès de vos
        collaborateurs que de
        vos clients. Nous sommes convaincus que le <strong>RCM</strong> aura un impact positif à court ou à long terme
        sur
        votre entreprise et son développement économique local.
    </p>
    <h3 class="violet">
        UNE OFFRE SUR MESURE
    </h3>
    <p class="text-justify">
        Nous étudierons avec soin un <strong>projet personnalisé</strong> qui pourra répondre à vos besoins (visibilité,
        publicité,
        échantillonnage , évènementiel, relations publiques, séminaires sportifs, etc.). Notre objectif premier est
        alors de répondre à vos besoins et à vos attentes en termes de communication sur le plan local.
        C’est pourquoi, vous trouverez dans notre site un large panel de prestations nous permettant de définir et de
        créer conjointement vos packages marketing. De <strong>multiples possibilités</strong> :
    </p>
    <ul>
        <li>Sponsor d’une équipe.</li>
        <li> Visibilité terrain.</li>
        <li>Exclusivité.</li>
        <li>Présence textile.</li>
        <li>Abonnements pour les entreprises, artisans et professions libérales.</li>
        <li>Animations…</li>
    </ul>
    <p class="text-justify">
        Le <strong>RCM</strong> vous propose une véritable plate-forme de communication globale qui répond à l’ensemble
        des
        problématiques marketing d’une entreprise :
    </p>


    <ul>
        <li>La notoriété.</li>
        <li> L’image.</li>
        <li>Le développement des ventes.</li>
        <li>La communication interne.</li>
        <li>Les Relations Publiques.</li>
    </ul>
    <h3 class="violet">
        NOUS JOINDRE ET DEVENIR PARTENAIRE
    </h3>
    <p class="text-justify">
        Rejoignez le <strong>RCM</strong> pour vivre une aventure autrement à Montbron… Pour tous renseignements :
        <a class="violet" href="{{ path('rudak_contact') }}" title="vers la page de contact">
            Page de contact
        </a>
    </p>
{% endblock %}