{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners_categ') }}">Catégories</a>

        </li>
        <li class="active">Modifier une catégorie</li>
    </ol>

    <div class="form_perso">
        {{ form(edit_form) }}
    </div>

    {{ form(delete_form) }}
{% endblock %}
