{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners_categ') }}">Catégories</a>

        </li>
        <li class="active">Nouvelle catégorie</li>
    </ol>

    <div class="form_perso">
        {{ form(form) }}
    </div>

{% endblock %}
