<div class="row">
    {% for partner in partners %}
        <div class="col-xs-6 col-sm-3">
            <a class="thumbnail"
               href="{{ path('rudak_partner_show',{id:partner.id,slug:partner.name|slugit}) }}"
               title="Voir ce partenaire">
                <img src="{{ partner.picture.getwebpath|imagine_filter('gallery_index_front') }}"
                     alt="{{ partner.name }}"/>
            </a>
        </div>
    {% endfor %}
</div>