{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners') }}">Partenaires</a>

        </li>
        <li class="active">Nouveau partenaire</li>
    </ol>

    {{ form(form) }}
{% endblock %}
